margin {padding: 0%; 
margin: 0%;
}
.corpo{
background-color: #26292e;
}

.Title { color: #ff75b3;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
margin-top: 70px;
}

.username{ 
    border-radius: 10px;
    box-shadow: 3px 3px rgb(94, 94, 94);
    border: none;
}

.password {
    border-radius: 10px;
    box-shadow: 3px 3px rgb(94, 94, 94);
    border: none;
}

.next {
    margin-top: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.email{ 
    margin-top: 10px;
    text-align: center;
}

.senha {
    margin-top: 15px;
    text-align: center;
}

button { 
    box-shadow: 7px 10px #801d49;
    cursor: pointer;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ff75b3;
    color: #efede0;
    border: none;
}

.Username {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #efede0;
}

.Password {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #efede0;
}

.lupa {
    height: 15px;
    
}
